In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql import Row

In [1]:
shoes_df = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:postgresql://s01:5432/products") \
    .option("driver","org.postgresql.Driver") \
    .option("dbtable", "(select * from temp_products where lower(category_name) like '%shoe%') as query") \
    .option("user", "dinosar") \
    .option("password", "forsharingpurposes") \
    .load()

shoes_df.printSchema()

root
 |-- product_id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- upc_id: string (nullable = true)
 |-- descr: string (nullable = true)
 |-- vendor_catalog_url: string (nullable = true)
 |-- buy_url: string (nullable = true)
 |-- manufacturer_name: string (nullable = true)
 |-- sale_price: decimal(38,18) (nullable = true)
 |-- retail_price: decimal(38,18) (nullable = true)
 |-- manufacturer_part_no: string (nullable = true)
 |-- country: string (nullable = true)
 |-- vendor_id: integer (nullable = true)
 |-- category_name: string (nullable = true)
 |-- category_code: string (nullable = true)
 |-- category_id: integer (nullable = true)

In [3]:
category_names = shoes_df.groupBy("category_name").count().toPandas() 
category_names

    category_name  count
0   Lace-up Shoes  12353
1  Athletic Shoes  12834
2     Boys' Shoes  15400
3   Evening Shoes    901
4           Shoes    848
5    Girls' Shoes  21632

In [4]:
shoes_df.write.parquet("hdfs:///data/products/shoes.parquet")